* {
    justify-content: center;
}
.grid-container {
    width: 90%;
    justify-content: center;
    display: grid;
    padding: 4rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 80px;
    align-items: stretch;
    justify-content: space-evenly;
}